<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
  <title>Laptop Reviews</title>
</head>
<body>
<div class="container">
  <main>
    <h1>Laptop Reviews</h1>
    <figure>
      <img src="/images/data.jpeg" alt="an abstract picture of data with points of color and a different solid color background" />
    </figure>
    <section>
      <button>
        <a th:href="@{/laptops}">See Reviews</a>
      </button>
    </section>
  </main>
  <footer>
    <small>&copy; Hesan Haghnazar 2021</small>
  </footer>
</div>
</body>
</html>